$btn-z-height: 4px;

@media (min-width: 761px) {
  .main-content {

    .select-items {
      width: 70%;
    }

    .manege-items {
      width: 30%;
    }
  }
}

@media (max-width: 760px) {
  .main-content {
    flex-direction: column;

    .select-items, .manege-items {
      width: 100%;
    }
  }
}

@media (max-width: 460px) {
  .content-wrapper {
    width: 100% !important;
  }
  .select-items, .manege-items {
    min-width: 330px;
  }
  #cooperate-badge {
    left: 5px !important;
  }
}

@media print {
  #cooperate-badge {
    > h2 {
      display: none;
    }

    background-color: #FFFFFF;
    border: 2px solid blueviolet;
    bottom: 0 !important;
    color: black !important;
  }
}

body {
  background-color: #DADADA;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 13px;
}

h2, h3, h4 {
  padding: 5px;
  margin: 0;
  font-weight: 700;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, .87);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.content-wrapper {
  width: 80%;
  max-width: 1260px;
  margin: auto;
  padding-top: 100px;

  .main-content {
    display: flex;
    justify-content: space-around;

    .select-items, .manege-items {
      box-sizing: border-box;
      padding: 7px;

      > .content {
        display: flex;
        flex-direction: column;
        background-color: #FFF;
        border-radius: 10px;

        > div {
          display: flex;
          padding: 7px 12px;
        }
      }
    }

    .select-items {

      > .content {
        .search-form {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 15px 7px;

          input {
            padding: .67861429em 1em;
            line-height: 1.2142em;
            border: 1px solid rgba(34, 36, 38, .15);
          }

          input[type=search] {
            width: 75%;
            color: rgba(0, 0, 0, .87);
            border-top-left-radius: .28571429rem;
            border-bottom-left-radius: .28571429rem;
          }

          input[type=button] {
            background-color: #2185D0;
            color: #FFF;
            font-weight: 700;
            padding-left: 28px;
            padding-right: 28px;
            border-top-right-radius: .28571429rem;
            border-bottom-right-radius: .28571429rem;
          }
        }


        .item-info {
          display: flex;
          align-items: baseline;
          font-size: .85714286rem;

          div {
            flex: 1;
            display: flex;
            justify-content: center;
          }

          .q-controller {
            display: flex;
            align-items: baseline;

            .delete-button, .add-button {
              color: #FFF;
              border-radius: 50%;
              width: 1.8rem;
              padding: 7px;
              line-height: 1;
              font-weight: bold;
            }

            .delete-button {
              background-color: #DB2828;
            }

            .item-count {
              user-select: none;
            }

            .add-button {
              background-color: #21BA45;
            }

            .disable {
              opacity: 0.4;
              cursor: not-allowed;
            }
          }

          :first-child {
            justify-content: flex-start;
          }

          :last-child {
            justify-content: flex-end;

            button[class*="status"] {
              padding: 0.4rem 0.9rem;
            }

            .refuse-btn {
              background-color: #DB2828;
              color: #FFF;
            }
          }
        }
      }
    }

    .manege-items {

      .items-to-buy, .bought-items {
        display: flex;
        flex-wrap: wrap;
        user-select: none;

        > div {

          font-size: .64285714rem;

          > span {
            display: inline-block;
            width: 1em;
            border-radius: 50%;
            background-color: #F2711C;
            color: #FFF;
            text-align: center;
            line-height: 1em;
            padding: 4px;
          }
        }
      }
    }

    .top-bordered {
      border-top: 1px solid rgba(34, 36, 38, .15);
    }

    .rounded-label {
      display: inline-block;
      margin: .14285714em;
      background-color: #E8E8E8;
      padding: .5833em .833em;
      border-radius: .28571429rem;
    }
  }
}

button, input {
  cursor: pointer;
  user-select: none;
  outline: none !important;
}

.page-styled-btn {
  display: inline-block;
  position: relative;
  margin: .14285714em;
  padding: .5833em .833em;
  border-radius: .7rem;
  border: 1px solid #DADADA;
  box-shadow: 0 $btn-z-height darkgrey;
}

.page-styled-btn[class~="disable"]:hover {
  box-shadow: 0 $btn-z-height darkgrey;
}

.page-styled-btn[class~="disable"]:hover:before {
  display: none;
}

.page-styled-btn:hover {
  box-shadow: 0 $btn-z-height darkgrey, 0 0 15px blueviolet;
}

@keyframes tooltipAppear {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}

.page-styled-btn:hover:before {
  display: block;
  min-width: 100px;
  visibility: hidden;
  content: attr(data-tooltip);
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translate(-50%, -100%);
  padding: 7px;
  background-color: blueviolet;
  color: #FFFFFF;
  white-space: nowrap;
  line-height: 2em;
  border-radius: .7rem;
  z-index: 1000;
  animation: tooltipAppear;
  animation-delay: 0.7s;
  animation-fill-mode: forwards;
}

.page-styled-btn:active {
  box-shadow: 0 2px gray;
  transform: translateY(2px);
}

.page-styled-btn:active:before {
  display: none;
}

#cooperate-badge {
  position: fixed;
  bottom: -3.4em;
  left: 75px;
  overflow: hidden;
  padding: 7px;
  text-align: center;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-color: blueviolet;
  color: #FFFFFF;
  transition: all 2s ease;

  * {
    color: inherit;
    cursor: default;
  }

  h2 {
    margin-bottom: 5px;
  }
}

#cooperate-badge:hover {
  background-color: blue;
  bottom: 0;

}